/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@import "../../node_modules/ol/ol.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --ion-color-primary: #13ae5a; /* Main primary color (green) */
    --ion-color-primary-rgb: 19, 174, 90; /* RGB equivalent of the primary color */
    --ion-color-primary-contrast: #ffffff; /* Color that contrasts well with primary (white) */
    --ion-color-primary-contrast-rgb: 255, 255, 255; /* RGB equivalent of the contrast color */
    --ion-color-primary-shade: #005a00; /* A darker shade of the primary color */
    --ion-color-primary-tint: #1a751a; /* A lighter tint of the primary color */
    --keyboard-offset: 0px;

    --background: 0 0% 100%;
    --foreground: 144 78% 20%;

    --muted: 144 40% 94%;
    --muted-foreground: 144 78% 35%;

    --popover: 0 0% 100%;
    --popover-foreground: 144 78% 20%;

    --border: 144 20% 85%;
    --input: 144 20% 85%;

    --card: 0 0% 100%;
    --card-foreground: 144 78% 20%;

    --primary: 144 78% 37%;
    --primary-foreground: 0 0% 100%;

    --secondary: 144 30% 90%;
    --secondary-foreground: 144 78% 20%;

    --accent: 144 40% 96%;
    --accent-foreground: 144 78% 20%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;

    --ring: 144 20% 80%;

    --radius: 0.3rem;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 144 60% 6%;
      --foreground: 144 78% 90%;

      --muted: 144 50% 10%;
      --muted-foreground: 144 78% 80%;

      --popover: 144 60% 6%;
      --popover-foreground: 144 78% 90%;

      --border: 144 50% 15%;
      --input: 144 50% 15%;

      --card: 144 60% 6%;
      --card-foreground: 144 78% 90%;

      --primary: 144 78% 37%;
      --primary-foreground: 0 0% 100%;

      --secondary: 144 30% 20%;
      --secondary-foreground: 144 78% 90%;

      --accent: 144 50% 15%;
      --accent-foreground: 0 0% 100%;

      --destructive: 0 63% 31%;
      --destructive-foreground: 0 0% 100%;

      --ring: 144 50% 15%;

      --radius: 0.3rem;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

.scroll-content {
  padding-bottom: 0 !important;
}
