.map-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.hidden-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.camera-button {
  border-radius: 100%;
  padding: 10px;
}
